In [7]:
from pymongo import MongoClient
from bson.objectid import ObjectId

In [45]:
mongo_client = MongoClient("mongodb://artinder_mongo:27017/")
user_actions_collection = mongo_client['artswipe_db']['user_actions']

In [12]:
# new_user_id = userTable.insert_one({'name': 'random_name', 'actions': []}).inserted_id
print(new_user_id)

646c69498eb1f9070d56e79a

In [25]:
import pymongo

print(pymongo.__version__)

4.3.3

In [115]:
import pandas as pd

name = 'Running_Android'

print(str(user_actions_collection.find_one({'name': name})['_id']))

user_actions_df = (
    pd
    .json_normalize(
        pd.json_normalize(user_actions_collection.find({'name': name}))
        ['actions'][0]
    )
)

# # .groupby('content_tag')['action'].count()

# # table = pd.pivot_table(actions_df, values='D', index=['A', 'B'],
# #                        columns=['C'], aggfunc=np.sum)

user_negative_tags = user_actions_df.query("""action=='dislike'""").content_tag.value_counts().to_frame(name='cnt').reset_index()
user_positive_tags = user_actions_df.query("""action=='like'""").content_tag.value_counts().to_frame(name='cnt').reset_index()

user_positive_tags.head()

646db0b81fdb40816fc95d04

  content_tag  cnt
0       stijl    1
1     neo-pop    1

In [103]:
name = 'Running_Androi'

user_feedback = pd.json_normalize(user_actions_collection.find({'name': name}))
if user_feedback.shape[0] > 0:
    user_actions_df = (
        pd
        .json_normalize(
            user_feedback
            ['actions'][0]
        )
    )

0

In [114]:
(
    tags_df
    .merge(user_negative_tags, how='left', left_on='tag', right_on='content_tag',suffixes=('','_neg'))
    .query('cnt_neg.isnull()')
    [['tag', 'cnt']]
    .merge(user_positive_tags, how='left', left_on='tag', right_on='content_tag',suffixes=('','_pos'))
    .sort_values('cnt_pos', ascending=False)
    [['tag', 'cnt']]
)

               tag   cnt
65         neo-pop    23
90           stijl    11
0              art  1150
1          realism   415
2    expressionism   373
..             ...   ...
167           guro     2
168        timurid     2
169            ten     2
170       medieval     2
171      dynasties     2

[172 rows x 2 columns]

In [2]:
len('6465a833674b3a8a8cc17818')

24

In [57]:
import requests

requests.get('http://pickupartist_container:8090/items/364')

In [16]:
action = {'content_id': 1, 'action': 'impression'}

userTable.update_one({'_id': ObjectId('646c69498eb1f9070d56e79a')}, {'$push': {'actions': action}})

pd.json_normalize(userTable.find({}))

,_id,name,activity,actions
0,6465a833674b3a8a8cc17818,tyler,"[{'content_id': 1, 'action': 'impression'}, {'...",NaN
1,646c68fc8eb1f9070d56e799,tyler,NaN,NaN
2,646c69498eb1f9070d56e79a,random_name,"[{'content_id': 1, 'action': 'impression'}]","[{'content_id': 1, 'action': 'impression'}]"

In [22]:
action = {'content_id': 2, 'action': 'impression'}

userTable.update_one({'_id': ObjectId('646c69498eb1f9070d56e79a')}, {'$push': {'actions': action}})

pd.json_normalize(userTable.find({}))

,_id,name,activity,actions
0,6465a833674b3a8a8cc17818,tyler,"[{'content_id': 1, 'action': 'impression'}, {'...",NaN
1,646c68fc8eb1f9070d56e799,tyler,NaN,NaN
2,646c69498eb1f9070d56e79a,random_name,"[{'content_id': 1, 'action': 'impression'}]","[{'content_id': 1, 'action': 'impression'}, {'..."

In [82]:
import os

tags_df = pd.read_csv('/srv/data/content_tags_v01.csv')

tags_df.head()

             tag   cnt
0            art  1150
1        realism   415
2  expressionism   373
3    romanticism   279
4       abstract   262

In [24]:
action_2 = {'content_id': 1, 'action': 'like'}

userTable.update_one({'_id': ObjectId('646c69498eb1f9070d56e79a')}, {'$push': {'activity': action_2}})

In [11]:
pd.json_normalize(userTable.find({}))

,_id,name,activity
0,6465a833674b3a8a8cc17818,tyler,"[{'content_id': 1, 'action': 'impression'}, {'..."