In [8]:
from pymongo import MongoClient
from bson.objectid import ObjectId

In [2]:
myclient = ("mongodb://artinder_mongo:27017/")
myDB = myclient["myDB"]
userTable = myDB["Users"]
userDict={"name": "tyler"}

_id = userTable.insert_one(userDict).inserted_id
print(_id)

6465a833674b3a8a8cc17818

In [3]:
import pandas as pd

pd.json_normalize(userTable.find({}))

                        _id   name
0  6465a833674b3a8a8cc17818  tyler

In [9]:
action = {'content_id': 1, 'action': 'impression'}

userTable.update_one({'_id': ObjectId('6465a833674b3a8a8cc17818')}, {'$push': {'activity': action}})

pd.json_normalize(userTable.find({}))

,_id,name,activity
0,6465a833674b3a8a8cc17818,tyler,"[{'content_id': 1, 'action': 'impression'}]"

In [10]:
action_2 = {'content_id': 2, 'action': 'impression'}

userTable.update_one({'_id': ObjectId('6465a833674b3a8a8cc17818')}, {'$push': {'activity': action_2}})

In [11]:
pd.json_normalize(userTable.find({}))

,_id,name,activity
0,6465a833674b3a8a8cc17818,tyler,"[{'content_id': 1, 'action': 'impression'}, {'..."